.passwordForm {
    position: absolute;
    width: 80vw;
    height: 60vh;
    top: 15%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 3px #aaa;
    background: rgba(255, 255, 255, 0.6);
    padding: 50px;

    .titlePageName {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: #333;
        margin-bottom: 15px;
    }

    .settingTitle {
        font-size: 120%;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
    }
}