$header-color: #fff;
$header-color-deep: #ccc;
$text-div-color: #265077;

/* ==========================================================================
Navbar styles
========================================================================== */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 39px;
    z-index: 1000;
    background-color: $header-color;
    box-shadow: 3px 1px 15px 2px #aaa;
    transition: top 0.5s;

    .appName {
        position: absolute;
        top: 0;
        left: 3.9vw;

        .brandLogo {
            display: inline-block;

            img {
                height: 29px;
                width: auto;
                margin-top: 5px;
            }
        }

        .brandTitle {
            position: absolute;
            margin-left: 20px;
            margin-top: 8px;
            color: $text-div-color;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .account {
        position: absolute;
        top: 0;
        right: 5vw;
        padding-top: 10px;
        cursor: pointer;

        .dropdown {
            color: $text-div-color;
            font-size: 15px;

            &:hover .anticon {
                transition: all 0.3s;
                color: $header-color-deep;
                /* Chuyển màu icon thành đỏ khi hover */
            }

            &:hover {
                transition: all 0.3s;
                color: $header-color-deep !important;
            }
        }
    }
}