$header-color: #fff;
$header-color-deep: #eee;

.bodyctn {
    overflow: auto;
    height: 100vh;
    width: calc(100vw - 256px);
    position: fixed;
    left: 256px;
    top: 50px;
}

.contentctn {
    position: absolute;
    width: 94%;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;

    h2 {
        margin-top: 30px;
    }

    .dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .boxdetail {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 44%;
            cursor: pointer;

            &:hover {
                transition: all 0.3s;
                background-color: #fafafa !important;
            }

            .dashboardtitle {
                font-size: 20px;
                color: #888;
            }

            .dahboardicon {
                margin-top: 20px;
                font-size: 25px;

                .iconch {
                    margin-right: 10px;
                }
            }
        }
    }

    .schedule {
        margin-top: 30px;
        border-radius: 10px;
        padding: 20px;
        background-color: #eee;

        .scheinput {
            width: 86px;
        }

        .schebutton {
            margin-left: 20px;
        }
    }
}