.bodyctn {
    overflow: auto;
    height: 100vh;
    width: calc(100vw - 256px);
    position: fixed;
    left: 256px;
    top: 50px;
}

.contentctn {
    position: absolute;
    width: 94%;
    margin-left: 3%;

    h2 {
        margin-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .templateImport {
        padding: 10px;
        background-color: #eee;
        border-radius: 10px;
    }

    .searchandcreate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .table {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.containerField {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleField {
        margin-bottom: 24px;
        font-size: 16px;
        // font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .formInput {
        width: 350px;
    }

    .inputNumberField {
        width: 60px;
        margin-left: 20px;
    }
}

.justifyField {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.detailModalTitle {
    width: 180px;
    display: inline-block;
}